* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "Helvetica"; /* Declare the base font-family */           background-color: lightblue;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 500px;
    
   margin: auto; 
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header { }
header h1 {}
header img {}
header .subheading {}

nav {}
nav button {}
nav ul {}
nav ul li {display: inline}
nav ul li a {}
nav ul li.active a {}
nav ul li a: hover {}
                  .hero-image { /* The image used */
                  background-image: url("https://images.pexels.com/photos/940543/pexels-photo-940543.jpeg?auto=compress&cs=tinysrgb&h=350");
               height: 50%;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               position: relative;
}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }
              
footer {}
